include README.md
include README.fa.md
include LICENSE
include CHANGELOG.md
include requirements.txt
include iran_cities.json
include iran_cities.min.json
include iran_cities.sql
include iran_cities.csv
include iran_cities.geojson
recursive-include docs *.md
recursive-include examples *.html *.py *.js *.md
recursive-include tests *.py
